body {
  font-family: "DM Sans", sans-serif;
  background-color: hsl(0, 0%, 95%);
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10px;
  }
}

.grid {
  display: grid;
  grid-template-columns: [first] 160px [line2] 160px [line3] 160px;
  grid-template-rows: [row1-start] 200px [row1-end] 160px [third-line] 160px;
  gap: 20px;
}

@media (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;

    gap: 20px;
  }
}

.stars {
  grid-column: span 2;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  background-color: hsl(256, 67%, 59%);
  /* height: 200px; */
  align-items: center;
  padding: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 16px;
}

.stars p {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .stars p {
    font-size: 4rem;
  }
}

.manage-accounts {
  grid-column: 1;
  grid-row: 2;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}
.manage-accounts img {
  height: 40px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .manage-accounts img {
    height: 80px;
  }
}
.manage-accounts h2 {
  margin: 0;
  font-size: 18px;
}
@media (max-width: 768px) {
  .manage-accounts h2 {
    font-size: 30px;
  }
}

.maintain {
  grid-column: 2;
  grid-row: 2;
  background-color: hsl(39, 100%, 71%);
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}
.maintain h2 {
  margin: 0;
  font-size: 18px;
}
.maintain img {
  width: 130px;
}
@media (max-width: 768px) {
  .maintain {
    height: 220px;
  }
  .maintain h2 {
    font-size: 28px;
    padding-bottom: 10px;
  }
  .maintain img {
    width: 250px;
  }
}

.schedule {
  grid-column: 3;
  grid-row: span 2;
  background-color: hsl(254, 88%, 90%);
  border-radius: 16px;
  padding: 20px;
  overflow: hidden;
}
.schedule h2 {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.schedule img {
  height: 200px;
  padding-bottom: 10px;
}
.schedule p {
  margin: 0;
  font-size: 12px;
}
@media (max-width: 768px) {
  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .schedule h2 {
    font-size: 28px;
  }
  .schedule img {
    width: auto;
    height: 320px;
  }
  .schedule p {
    font-size: 24px;
    padding: 10px;
    text-align: center;
  }
}

.grow {
  grid-column: 2 / span 2;
  grid-row: 3;
  background-color: hsl(256, 67%, 59%);
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;
}
.grow img {
  width: 130px;
}
.grow p {
  margin: 0;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .grow {
    display: flex;
    flex-direction: column;
  }
  .grow img {
    width: 250px;
    /* height: auto; */
  }
  .grow p {
    font-size: 3rem;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
}

.audience {
  grid-column: 1;
  grid-row: 3;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.audience h2 {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 10px;
}
.audience p {
  margin: 0;
  font-size: 11px;
  padding-bottom: 20px;
}
.audience img {
  height: 40px;
}
@media (max-width: 768px) {
  .audience {
    display: flex;
    flex-direction: column;
  }
  .audience h2 {
    font-size: 3.5rem;
  }
  .audience p {
    font-size: 25px;
  }
  .audience img {
    width: 250px;
    height: auto;
  }
}

/* flex part */
.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .flex {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}

.create {
  height: 240px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(31, 66%, 93%);
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}
.create h2 {
  font-size: 1.5rem;
}
.create img {
  height: 70px;
}
@media (max-width: 768px) {
  .create {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
  }
  .create h2 {
    font-size: 2rem;
  }
  .create img {
    height: 100px;
  }
}

.content-ai {
  height: 240px;
  width: 150px;
  background-color: hsl(39, 100%, 71%);
  border-radius: 10px;
  padding: 15px;
}
.content-ai h2 {
  margin: 0;
  font-size: 24px;
  padding-bottom: 20px;
}
.content-ai img {
  height: 140px;
  width: 150px;
}
@media (max-width: 768px) {
  .content-ai {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 300px;
  }
  .content-ai h2 {
    font-size: 35px;
  }
  .content-ai img {
    height: 250px;
    width: 200px;
  }
}
